---
import '../../../styles/global.css'
import { getCollection } from 'astro:content'
import Header from '../../../components/Header/Header.astro'
import { getLangFromUrl } from '../../../i18n/utils'

const lang = getLangFromUrl(Astro.url);

// getStaticPaths() ignored in dynamic page /src/pages/oppgaver/[...slug].astro.
// Add `export const prerender = true;` to prerender the page as static HTML during the build process.
export const prerender = true;

export async function getStaticPaths() {
    const taskEntries = await getCollection('tasks')
    return taskEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<style is:global>
    img {
        width: 100%;
        height: auto;
        display: block;
    }
</style>

<html lang={`${lang}`}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Task: {entry.slug}</title>
    </head>
    <body>
        <Header />
        <div style={{ width: '100%' }}>
            <Content />
        </div>
    </body>
</html>
