# accidental node modules
**/node_modules/

.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.idea

*.pem
*.cert
*.key
client.keystore.p12
client.truststore.jks