---
import '../../styles/global.css'
import { getCollection } from 'astro:content'
import Header from '../../components/Header/Header.astro'

export const prerender = true

export async function getStaticPaths() {
    const oppsettEntries = await getCollection('oppsett')
    return oppsettEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<html lang="no">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <Header />
        <div style={{ width: '100%' }}>
            <Content />
        </div>
    </body>
</html>
