.ingress-container {
    @media screen and (min-width: 679px) {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;

        img {
            width: 100%;
            height: auto;
            display: block;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

        .cat-sleeping {
            box-shadow: none;
        }
    }

    @media screen and (min-width: 0px) and (max-width: 678px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            width: 93%;
            height: auto;
            display: block;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

        .cat-sleeping {
            display: none;
        }
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    p {
        margin-top: 0;
    }

    img {
        height: 10rem;
        width: 10rem;
    }
}

.lenkemeny {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

    .lenkemeny-element {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;

        img {
            width: 7rem;
            height: auto;
        }

        @media screen and (min-width: 0px) and (max-width: 678px) {
            gap: 1rem;
            h2 {
                font-size: 40px;
            }

            img {
                width: 100%;
                max-width: 5rem;
                height: 100%;
                align-self: center;
            }

        }
    }

    .lenkemeny-element:hover {
        text-decoration-thickness: 3px;
    }

    .lenkemeny-element-heading {
        color: #E0FFFF;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: rainyhearts;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        text-decoration: none;
        /* 33.333% */
        letter-spacing: -0.96px;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
        margin-block: 2rem;
    }
}