---
import '../../../styles/global.css'
import { getCollection, render } from 'astro:content'
import Header from '../../../components/Header/Header.astro'

// getStaticPaths() ignored in dynamic page /src/pages/oppgaver/[...slug].astro.
// Add `export const prerender = true;` to prerender the page as static HTML during the build process.
export const prerender = true;

export async function getStaticPaths() {
    const setupEntries = await getCollection('setup')
    return setupEntries.map((entry) => ({
        params: { slug: entry.slug},
        props: { entry },
    }))
};

const { entry } = Astro.props;
const { Content } = await entry.render()
---

<html lang="no">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <Header />
        <div style={{ width: '100%' }}>
            <Content />
        </div>
    </body>
</html>
