.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        @media screen and (min-width: 679px) {
            transform: scale(0.6);
        }

        @media screen and (min-width: 0px) and (max-width: 678px) {
            display: none;
        }
    }

    h1 {
        color: #E0FFFF;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: rainyhearts;
        font-size: 70px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        /* 33.333% */
        letter-spacing: -0.96px;
        text-decoration-line: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
        margin-top: 1.5rem;
        margin-inline: 1rem;
    }
}