---
import './header.css'
import leesahHeadingKort from '../../assets/heading-kort.svg?raw'
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils'

const { tittel } = Astro.props
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<header class="header-container">
    <a href={translatePath("/")}>
        <Fragment set:html={leesahHeadingKort} />
    </a>
    {tittel && <h1>{tittel}</h1>}
</header>
