main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    max-width: 60rem;
    margin-inline: 1rem;
}

.ingress-container {
    @media screen and (min-width: 679px) {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;

        img {
            width: 100%;
            height: auto;
            display: block;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

        .cat-sleeping {
            box-shadow: none;
        }
    }
    @media screen and (min-width: 0px) and (max-width: 678px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        img {
            width: 100%;
            height: auto;
            display: block;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

        .cat-sleeping {
            display: none;
        }
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    p {
        margin-top: 0;
    }

    img {
        height: 10rem;
        width: 10rem;
    }
}