@font-face {
    font-family: "Pixellet";
    src: url("./fonts/pixellet.ttf") format("truetype");
}

@font-face {
    font-family: "rainyhearts";
    src: url("./fonts/rainyhearts.ttf") format("truetype");
}

body {
    background-color: #5b37a3;
}