.pending-answer-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 !important;
  gap: 0.5rem;

  .pending-answer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 0.5rem 0.5rem;
    flex-direction: column;

    .teamname-header {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }

    &__check {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      svg {
        margin: 0 -5px -5px;
      }
    }

    &__text {
      font-size: 14px;
    }

    a {
      text-align: center;
      align-self: center;
    }
  }
}
