body {
    margin: 1em;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background-color: #32414f;
    color: #cec8ca;
}

.leaderboard {
    display: flex;
}

.leaderboard__team {

}

.horizontalContainer {
    display: flex;
    flex-wrap: wrap;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
}

.horizontalContainer *{
    margin-block: 0.1rem;
}

.horizontalContainer h2{
    margin-right: 1rem;
    margin-block: 0.5rem;
}

.card {
    margin: 0.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    width: max-content;
    color: #181717;
}

.headerCard {
    background-color: white;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    width: 100%;
    margin-bottom: 1em;
}

.activeFont {
    color: #43c207
}

.categoryView {
    display: inline-grid;
    grid-template-columns: 8rem max-content;
}

.labelCard {
    background-color: lightgray;
    padding: 2px;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0.8;
    margin-right: 0.2rem;
}