body {
    margin: 1em;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: #32414f;
    color: #cec8ca;
}

.header-card {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    color: #181717;

    button {
        height: 3rem;
        padding: 0 1rem;
        align-self: center;
    }
}

.active-font {
    color: #43c207;
}

.status-label {
    background-color: lightgray;
    padding: 2px;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0.8;
    margin-right: 0.2rem;
}
