body {
  margin: 1em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #32414f;
  color: #cec8ca;
}

.main-container {
  margin: 1rem;
}

.active-font {
  color: #43c207;
}

.status-label {
  background-color: lightgray;
  padding: 2px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-right: 0.2rem;
}
