---
import '../../styles/global.css';
import '../../styles/leesah-kurs.css';
import Header from '../../components/Header/Header.astro';
import leesahTeam from '../../assets/leesahteam.jpg';
import leesahKurs1 from '../../assets/leesah-kurs1.jpg';
import leesahKurs2 from '../../assets/leesah-kurs2.jpg';
---

<html lang="no">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/cat.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Kurs med Leesah-gjengen</title>
</head>
<body>
<main>
    <Header tittel="Vil du spille Leesah Game?"/>
    <div class="flex-gap-container">

        <div class="leesah-kurs-image-container">
            <img src={leesahTeam.src} alt="Leesah team samlet"/>
        </div>

        <p>
            Klar for 친 l칝re og ha det g칮y samtidig? Bli med p친 gamified kurs i hendelsesdrevet
            utvikling! 游
            <br/><br/>
            I Nav utvikler vi moderne systemer med en hendelsesdrevet mikrotjenestearkitektur som
            m칮ter fremtidens arbeids- og velferdsbehov. N친 inviterer vi deg til 친 l칝re hvordan vi
            bygger applikasjoner som l칮ser komplekse utfordringer.
        </p>

        <div class="leesah-kurs-image-container">
            <img src={leesahKurs1.src} alt="Leesah team kurs"/>
        </div>

        <p>
            I kurset vil vi f칮rst introdusere de viktigste prinsippene bak hendelsesdrevet
            utvikling. Deretter blir det action: vi kj칮rer i gang med en gamified workshop hvor dere
            koder i par. Sammen skal dere utvikle en applikasjon som kobles mot Kafka for 친 h친ndtere
            utfordringer fortl칮pende. Dette blir en morsom og utfordrende ettermiddag full av koding
            og l칝ring!
            <br/><br/>
            V친re kursholdere Tania, Emil, 칒ydis og Kyrre er erfarne utviklere som jobber i
            forskjellige team i Nav. De har variert bakgrunn og ekspertise, og har designet dette
            kurset for 친 styrke b친de egen og din kompetanse innen hendelsesdrevet utvikling og
            programmering.
        </p>

        <div class="leesah-kurs-image-container">
            <img src={leesahKurs2.src} alt="Leesah team kurs"/>
        </div>

        <p>
            Hvem b칮r delta? Du som er nysgjerrig p친 hendelsesdrevet utvikling og vil l칝re hvordan vi
            jobber i Nav, er dette kurset for deg! Litt erfaring med Python, JavaScript, Go eller
            programmering generelt anbefales, men du trenger ikke v칝re en ekspert. Ikke g친 glipp av
            denne unike muligheten til 친 utvikle ferdighetene dine i en interaktiv og morsom
            setting! 游눹游
            <br/><br/>
            Vi holder Leesah Game for universiteter, h칮yskoler, p친 konferanser og hos forskjellige
            bedrifter.
            Om du tenker at dette kunne v칝rt et artig kurs vi kan holde for deg og dine kollegaer,
            kan du ta kontakt med Tania Holst p친 <a href="mailto:tania.holst@nav.no">tania.holst@nav.no</a>!
        </p>

    </div>
</main>
</body>
</html>
